<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="mARQ, estudio de arquitectura especializado en el diseño y urbanismo.">
    <meta name="keywords" content="marq arquitectura obra estudio diseño urbanismo proyectos servicios planos casa puente curutchet">
    <title>mARQ - Contacto</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
  <!-- NAV -->
  <header class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-xs-12"> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="../index.html"><img src="../assets/img/logo2.png" alt="logo" width="250"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="servicios.html">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="proyectos.html">Proyectos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="imagenes.html">Imágenes</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="contacto.html">Contacto <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- TITULO -->
  <div class="container">
    <div class="row paddingTB centrar">
      <section class="col-12">
        <h1 class="text">CONTACTO</h1>
      </section>
    </div>
  </div>
  <!-- CONTENIDO CONTACTO -->
  <section id="contact">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-4">
             <img src="../assets/img/contact.png" alt="hombre contacto">
          </div>
          <div class="col-lg-6 offset-lg-1">
             <form>
                <div class="mb-3">
                  <small>Nombre</small>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                   <small>Email</small>
                   <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                 </div>
                 <div class="mb-3">
                   <small>Mensaje</small>
                   <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
                 </div>
                <button type="submit" class="btn btn-brand">Enviar</button>
              </form>
          </div>
       </div>
    </div>
 </section>
    <!-- CONTENIDO - UBICACIÓN -->
    <div class="container">
        <div class="row paddingTB centrar">
          <section class="col-12 text" data-aos="fade-up">
            <h2>Ubicación</h2>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.6664045582565!2d-58.45880938477156!3d-34.562000880470265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5d3849c3221%3A0xc8999711cc581a5b!2sAv.%20Cabildo%20%26%20Av.%20Juramento%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1645037029380!5m2!1ses-419!2sar" width="562" height="317" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </section>
        </div>
      </div>    
  <!-- FOOTER-->
  <div class="container-fluid">
    <footer class="row footerBg paddingTB">
      <div class="col-4">
        <img src="../assets/img/facebook.png" alt="facebook" width="50">
      </div>
      <div class="col-4">
          <img src="../assets/img/twitter.png" alt="twitter" width="50">
      </div>
      <div class="col-4">
          <img src="../assets/img/instagram.png" alt="instagram" width="50">
      </div>
    </footer>
  </div>
  <!-- LINKEAR -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>